// .container {
//   margin: 20px;
// }



.admin-action {
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 50px;
  border-radius: 5px;
  margin-top: 3rem;

  &-title {
    border-bottom: 1px solid #bebebe;
  }

  // add for delet users not before
  &__small {
    max-width: 20rem;
  }
  // &__select {

  //   select {
  //   width: 25rem;
  //   width: 90%;
  //   margin: 5px 24px;
  //   padding: 5px 24px;
  //   border: 1px solid rgba(45, 64, 89, 0.3);
  //   border-radius: 3px;
  //   margin-bottom: 20px;

  // }

  &-content {
    margin-top: 20px;

    select {
      width: 95%;
      height: 44px;
      padding: 0 10px;
    }
    input {
      width: 88%;
      height: 44px;
      padding: 0 10px;
      margin-bottom: 30px;
    }

    .single-select {
      margin-bottom: 30px;
    }

    // .two-btns {
    //   grid-column: span 2;
    //   display: flex;
    //   justify-content: space-between;
    //   width: 95%;
    //   margin-top: 20px;
    // }

    form {
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      grid-gap: 20px;

      div {
        grid-column: span 1;

        input {
          width: 90%;
          height: 40px;
          padding: 0 10px;
        }
      }

      button {
        max-width: 120px;
      }
    }
  }

  // &-btns {
  //   margin-top: 20px;
  //   display: flex;
  //   justify-content: space-between;
  // }
}

// // later add
//   .settings-row{
//     width: 100%;
//     display: grid;
//     grid-template-columns: repeat(12, minmax(50px, 1fr));
//     padding: 20px;
//     background: #FFFFFF;
//     border: 1px solid #E4E3E1;
//     border-radius: 10px;
//     margin-bottom: 30px;

//     &-column{
//       padding: 0 10px;
//       grid-column: span 4;
//       font-family: 'IBM Plex Sans';
//       font-style: normal;
//       color: #313F57;

//       .label{
//         font-weight: 700;
//         font-size: 14px;
//         line-height: 18px;
//       }

//       .button{
//         margin-left: 0;
//       }

//       &-title{
//         font-weight: 500;
//         font-size: 20px;
//         line-height: 26px;
//         margin-top: 6px;
//         margin-bottom: 4px;
//       }
//       &-desc{
//         font-weight: 400;
//         font-size: 14px;
//         line-height: 18px;
//       }

//       .info{
//         font-weight: 700;
//         font-size: 14px;
//         line-height: 18px;
//         margin-bottom: 20px;
//         p{
//           margin: 2px 0;
//         }

//         &:first-child{
//           margin-top: 4px;
//         }
//       }
//       .select {
//         position: relative;
//         > select {
//           font-size: 14px;
//           border-radius: 8px;
//           width: 100%;
//           border: 1px solid #E4E3E1;
//           color: #313F57;
//           width: 100%;
//           padding: 16px;
//           padding-right: 36px;
//           margin-top: 8px;

//           &:hover {
//             cursor: pointer;
//           }

//           &:disabled {
//             opacity: 0.7;
//             &:hover {
//               cursor: not-allowed;
//             }
//           }
//         }
//       }
//     }
//   }
