$color-brand-1: #e6007a;
$color-brand-2: #2d4059;

$color-brand-action-1: #b80065;

$color-white: #fff;
$color-text: #313F57;

$color-1: #0fadd4;
$color-2: #1caea1;
$color-3: #407d93;
$color-4: #F3F2EF;


$color-g-1: #e0e5eb;
$color-g-2: #f2f2f2;
$color-g-3: #eff4fa;
$color-g-4: #DBDAD7;

$color-data: $color-1;

$color-acitive: #a1b5d8;
